*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

#top-banner{
    text-align: center;
    margin:20px 0;
    background-color: rgb(71, 134, 197);
}
#hero-container div:first-child {

    display: flex;
    justify-content: space-around;
    margin:30px;;

}
